{{- /*gotype: github.com/Jackob2004/dvz-web/cmd/web.leaderboardData*/ -}}
{{define "page:title"}}DvZ Leaderboard{{end}}

{{define "page:meta"}}
    <meta name="page" content="home">
{{end}}

{{define "page:main"}}
    <div class="inter-regular" id="leaderboard">
        {{template "sorter" .}}

        <div hx-get="/leaderboard-component/level/0" hx-trigger="load" hx-swap="outerHTML">
            Loading...
        </div>

        {{template "pager" .}}
    </div>

{{end}}

{{define "sorter"}}
    <div id="sorter" hx-swap-oob="true">
        <button class="sorter-btn" hx-target="#players" hx-get="/leaderboard-component/level/0" hx-swap="outerHTML"
                {{ if eq .SortingOption "level" }}disabled{{end}}>
            <img src="static/img/book_icon.svg" alt="Experience book icon">
            <span>Level</span>
        </button>
        <button class="sorter-btn" hx-target="#players" hx-get="/leaderboard-component/deaths/0" hx-swap="outerHTML"
                {{ if eq .SortingOption "deaths" }}disabled{{end}}>
            <img src="static/img/grave_icon.svg" alt="Grave icon">
            <span>Deaths</span>
        </button>
        <button class="sorter-btn" hx-target="#players" hx-get="/leaderboard-component/playtime/0" hx-swap="outerHTML"
                {{ if eq .SortingOption "playtime" }}disabled{{end}}>
            <img src="static/img/clock_icon.svg" alt="Clock icon">
            <span>Play time</span>
        </button>
        <button class="sorter-btn" hx-target="#players" hx-get="/leaderboard-component/effectiveness/0"
                hx-swap="outerHTML" {{ if eq .SortingOption "effectiveness" }}disabled{{end}}>
            <img src="static/img/crown_icon.svg" alt="Crown icon">
            <span>Effectiveness</span>
        </button>
    </div>
{{end}}

{{define "players"}}
    <div id="players">
        <div id="row-description" class="player-row">
            <div></div>
            <div></div>
            <div>NAME</div>
            <div>LEVEL</div>
            <div>XP</div>
            <div>DEATHS</div>
            <div>PLAYTIME</div>
        </div>

        {{range $index, $player:= .PlayerRows}}
            <div class="player-row">
                <div>{{safeHTML (leaderboardPos $index $.CurrPage 10)}}</div>
                <img width="64" height="64" src="https://api.mcheads.org/head/{{ $player.Name }}/64" alt="Notch"/>
                <div class="row-name"><a href="http://localhost:9697">{{ $player.Name }}</a></div>
                <div>{{ $player.Level }}</div>
                <div>{{ $player.XP }}</div>
                <div>{{ $player.Deaths }}</div>
                <div>{{ $player.Playtime }}</div>
            </div>
        {{end}}

        {{range .PlaceholderRows}}
            <div class="player-row placeholder-row" aria-hidden="true">
                <div>#0</div>
                <img width="64" height="64" src="static/img/skin_head_placeholder.png" alt="Notch"/>
                <div class="row-name">Placeholder</div>
                <div>0</div>
                <div>0</div>
                <div>0</div>
                <div>0h</div>
            </div>
        {{end}}
    </div>
{{end}}

{{define "pager"}}
    <div id="pager" hx-swap-oob="true">
        <div id="page-display">
            <div>
                Page <i>{{ .CurrPage }}</i> of <i>{{ .TotalPages }}</i>
            </div>
        </div>
        <div id="navigation">
            <button hx-target="#players" hx-swap="outerHTML"
                    hx-get="leaderboard-component/{{ .SortingOption }}/{{ .PrevOffset }}" class="pager-btn"
                    {{ if not .HasPrev }}disabled{{ end }}>
                <img src="static/img/arrow_left_icon.svg" alt="Previous page">
            </button>

            <button hx-target="#players" hx-swap="outerHTML"
                    hx-get="leaderboard-component/{{ .SortingOption }}/{{ .NextOffset }}" class="pager-btn"
                    {{ if not .HasNext }}disabled{{ end }}>
                <img src="static/img/arrow_right_icon.svg" alt="Next page">
            </button>
        </div>
    </div>
{{end}}

{{define "leaderboard"}}
    {{template "sorter" .}}
    {{template "players" .}}
    {{template "pager" .}}
{{end}}

