{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "page:title" .}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{block "page:meta" .}}{{end}}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Metamorphous&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='/static/css/reset.css'>
        <link rel='stylesheet' href='/static/css/styles.css'>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0/dist/htmx.min.js" integrity="sha384-BvJpBiO8Kh31EqtJe5DRIeWrHWnCGkwytKs9NKFi86Hhw96dEqdEMzZDeK9iEGTc" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <h1 class="metamorphous-regular"><a href="/">Dwarves vs Zombies</a></h1>
            {{template "partial:nav" .}}
        </header>
        <main>
            {{template "page:main" .}}
        </main>
        {{template "partial:footer" .}}
    </body>
</html>
{{end}}
